@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7e9;
}

.App {
  text-align: center;
}

.title {
  font-family: 'Fredoka One', sans-serif;
  font-size: 25px;
}